<!DOCTYPE html>
<html>
  <head>
    <title>FirstRailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="background-color: grey; display: flex; padding: 16px">
      <div>
        <%= link_to "Home", root_path %>
      </div>
      |
      <div>
        <%= link_to "Foo", foo_path %>
      </div>
      |
      <div>
        <%= link_to "Contact", contact_path %>
      </div>
    </div>
    <%= yield %>
    <div style="background-color: grey;">
      This is my footer
    </div>
  </body>
</html>
